
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', serif;
    background-color: #FFDAE9;
    overflow-y: auto;
}


.page {
    min-height: 100vh; 
    overflow: hidden;
    position: relative;
}

.page-1 {
    background-color: #FFDAE9;
}

.page-2 {
    background-color: #FFDAE9;
}



.top-bar {
    width: 100%;
    height: 200px;
    background-color: #F24976;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 70px;
    box-sizing: border-box;
}

.title {
    font-size: 135px;
    font-weight: 900;
    font-family: 'FSMagistralBold', sans-serif;
    color: #c00000;
    margin: 0;
    line-height: 1.15;
    margin-left: 150px;
}

.underline {
    width: 400px;
    height: 3px;
    background-color: #c00000;
    border: none;
    margin: 20px 0 18px;
    margin-left: 150px;
}

.left-box {
    width: 55%;
    transform: translate(0px, 80px);
}

.info-text {
    font-size: 35px;
    line-height: 1.15;
    margin-top: 18px;
    margin-left: 150px;
}

.info-text strong {
    color: #000;
}

.photo-box {
    width: 25%;
    text-align: center;
    padding: 12px;
    border: 2px dashed #ff8ca5;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    transform: translate(-100px, 90px);
    cursor: pointer;
}

.profile-photo {
    width: 100%;
    border-radius: 6px;
}


.sticker {
    position: absolute;
    width: 200px;
}

.cat {
    top: -35px;
    left: -25px;
}

.rabbit {
    bottom: -70px;
    right: -140px;
    width: 360px
}

/* .pig-sticker {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 360px;
} */

/* trang2 */

.fan-wrapper {
    padding: 30px 70px 30px; 
    box-sizing: border-box;
    height: 100%;
    display: flex;          
    align-items: center;
}

.fan-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 1fr 1fr;     
    gap: 16px 24px;                
    width: 100%;
    max-height: calc(100vh - 60px); 
}

.fan-block {
    background-color: #FFDAE9;
    padding: 10px;                    
    box-sizing: border-box;
    overflow: hidden;                 
}

.fan-img img {
    width: 100%;
    height: 100%;
    max-height: 50vh;                 
    object-fit: cover;
    display: block;
}

.fan-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fan-title {
    font-family: 'FSMagistralBold', sans-serif;
    font-size: 60px;                 
    text-transform: uppercase;
    color: #c00000;
    margin: 0 0 8px 0;
    line-height: 1.15;
}

.fan-desc {
    margin: 0;
    font-size: 30px;                 
    line-height: 1.35;
    color: #7a0020;
}

.fan-block.fan-img{
    position: relative;
}
.fan-block.fan-img .fan-sticker{
    position: absolute;
    width: 200px;
    height: 200px;
    top: -50px;
    left: 8px;
    object-fit: contain;
    pointer-events: none;
    opacity: 0.95;
    transform: none;
}
.page-3{
    background-color: #FFDAE9
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.thankyou-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thankyou-title{
    font-family: 'FSMagistralBold', sans-serif;
    font-size: 200px;
    color:#c00000;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin: 0;
}